$font-title:"Raleway", sans-serif;
$font-text: "Cardo", serif;
$font-color: rgba(255, 255, 255, 1);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}



%header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(186, 187, 197, 1);
}

@mixin font($font-size, $line-height, $font-weight, $color, $font-family)
{
    font-size:$font-size;
    line-height:$line-height;
    font-weight:$font-weight;
    color:$color;
    font-family:$font-family;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

        .container {
            @extend %header__container;
        }

    &__logo {
        width: 183px;
        display: flex;
    }

    .nav {
        display: flex;

        &__link {
            @include font(13px, 15px, 700, $font-color, $font-title);
            text-align: center;
            text-decoration: none;
            min-width: 134px;
            text-transform: uppercase;
            padding: 36px 0 38.5px;
            border-bottom: 3px solid transparent;

            &:hover {
                border-bottom: 3px solid rgba(186, 187, 197, 1);
            }

            &:active {
                border-bottom: 3px solid rgba(231, 20, 20, 1);
                color: rgba(231, 20, 20, 1);
            }

        }
    }

}

%banner__container {
    position: relative;
    text-align: center;
}

.banner {
    background: url(../media/1.jpg) center / cover no-repeat;
    position: relative;
    padding: 237px 0 120px;
    margin-bottom: 116px;

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(37, 43, 73, 1);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 80%;
    }

    .container {
        @extend %banner__container;
    }

    &__title {
        @include font(64px, 75px, 900, $font-color, $font-title);
        margin-bottom: 31px;
        text-transform: uppercase;
        max-width: 1170px;
        }

    &__text {
        @include font(24px, 28px, 400, $font-color, $font-title);
        margin: 0 auto 80px;
        max-width: 1030px;
        }

    &__button {
        @include font(24px, 28px, 900, $font-color, $font-title);
            max-width: 370px;
            width: 100%;
            padding: 26px 0;
            background-color: rgba(255, 67, 67, 1);
            cursor: pointer;
            border: none;
            text-transform: uppercase;

            &:hover {
                background-color: rgba(231, 20, 20, 1);
            }

            &:active {
                box-shadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
                background-color: rgba(255, 67, 67, 1);
            }
        }
}

%features__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 31px;
    grid-row-gap: 88px;
}

.features {
    margin-bottom: 116px;

    .container {
        @extend %features__container;
    }

    &__content {
        text-align: center;

        &-icon {
            width: 100px;
            height: 100px;
            display: flex;
            margin: 0 auto 29px;
            align-items: center;
            justify-content: center;
        }

        &-text {
            @include font (24px, 28px, 900, rgba(45, 48, 51, 1), $font-title);
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        &-desc {
            @include font(18px, 21px, 400, rgba(108, 114, 121, 1), $font-title);
        }
    }
    
}


.work {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    margin-bottom: 114px;
    gap: 2px;

    &__wrapper-img {
        position: relative;
		padding-top: 100%;
    }

    &__img{
		object-fit: cover;		
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        opacity: 0; 
        padding: 10px;

        &-text {
            @include font(24px, 28px, 900, $font-color, $font-title);
            margin-bottom: 20px;
            text-transform: uppercase;
            
        }
    
        &-desc {
            @include font(18px, 21px, 400, $font-color, $font-title);
            text-transform: capitalize;
        }

        &:hover {
            opacity: 1; 
            background-color: rgba(255, 67, 67, 0.8);
        }
        
        &:active {
            opacity: 1;
            background-color: rgba(185, 12, 12, 0.8);
        }
    }
    
}

%team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.team {
    margin-bottom: 114px;

    .container {
        @extend %team__container;
    }

    &__wrapper-img {
        position: relative;
		padding-top: 100%;
        margin-bottom: 30px;
    }

    &__img {
        object-fit: cover;		
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
    }

    &__name {
        @include font(24px, 28px, 700, rgba(45, 48, 51, 1), $font-title);
        padding: 0 1px;
        margin-bottom: 5px;
    }

    &__developer {
        @include font(18px, 21px, 400, rgba(255, 67, 67, 1), $font-title);
        text-transform: uppercase;
        margin-bottom: 18px;
    }

    &__text {
        @include font(18px, 21px, 400, rgba(108, 114, 121, 1), $font-title);
        margin-bottom: 38px;
    }

    &__icons {
        display: flex;
        column-gap: 6px;

        &:hover{
            stroke: #EC7979;
        }
        
        &:active{
            stroke: #AB4949;
        }
    }

    &__icon {
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(198, 203, 205, 1);

        &:hover path{
            fill: #EC7979;
            stroke: #EC7979;
        }
        
        &:active path{
            fill: #AB4949;
        }
    }
}



.designer {
    margin: 0 auto 114px;

    &__container {
        display: flex;
        background-color: rgba(92, 50, 73, 1);
    }

    &__wrapper-img {
        width: 50%;
        overflow: hidden;
    }

    &__tab-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        width: 50%;
        padding: 10px 10px 10px 129px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        @include font(36px, 48px, 400, $font-color, $font-text);
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 19px;
        max-width: 471px;
    }

    &__desc {
        @include font(13px, 15px, 700, $font-color, $font-title);
        text-transform: uppercase;
        max-width: 470px;
    }

    }


%download__container {
    text-align: center;
}

.download {
    margin-bottom: 114px;

    .container {
        @extend %download__container;
    }

    &__title {
        @include font(30px, 35px, 500, rgba(0, 0, 0, 1), $font-title);
        margin-bottom: 22px;
    }

    &__text {
        @include font(18px, 21px, 700, rgba(0, 0, 0, 1), $font-title);
        margin-bottom: 47px;
    }

    &__button {
        max-width: 370px;
        width: 100%;
        @include font(24px, 28px, 900, $font-color, $font-title);
        padding: 26px 0;
        background-color: rgba(255, 67, 67, 1);
        text-transform: uppercase;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: rgba(231, 20, 20, 1);
        }

        &:active {
            box-shadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
            background-color: rgba(255, 67, 67, 1);
        }
    }
}

%footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 71px 0;
}

.footer {
    background-color: rgba(53, 60, 101, 1);

    .container {
        @extend %footer__container;
    }

    &__title {
        text-align: center;
        @include font(18px, 21px, 700, $font-color, $font-title);
        text-transform: uppercase;
        margin-bottom: 29px;
    }

    &__text {
        @include font(18px, 21px, 400, $font-color, $font-title);
        text-align: center;
    }

    &__icons {
        display: flex;
        column-gap: 27px;
        justify-content: center;
        margin-top: 49px;
    }

    &__icon {
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(198, 203, 205, 1);
    }

    &__copyright {
        background-color: rgba(44, 49, 84, 1);
        padding: 24px 0;

    }

    &__copyright_text {
        @include font(18px, 21px, 400, rgba(108, 114, 121, 1), $font-title);
        text-align: center;
        max-width: 370px;
        text-transform: capitalize;
    }

    &__copyright_desc {
        color: rgba(255, 255, 255, 1);
    }

    .copyright__container {
        display: flex;
        justify-content: center;
    }

}

@media (max-width: 769px) {

    .header {
        padding: 0;
    }
    .header .nav__link {
        min-width: 110px;
    }

    .banner {
        padding: 98px 0 52px;
        margin-bottom: 40px;

        &__title {
            font-size: 24px;
            line-height: 42px;
            margin-bottom: 32px;
        }

        &__text {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 49px;
        }

        &__button {
            max-width: 280px;
            padding: 16px 0;
        }

    }

    %features__container {
        grid-template-columns: repeat(2, minmax(279px, 1fr));
        grid-row-gap: 41px;
    }

    .features {
        margin-bottom: 35px;

        &__content-icon {
            width: 75px;
            height: 74px;
            margin: 0 auto 22px;
        }

        &__content-text {
            padding: 16px 0;
            margin: 0;
        }
    }

    .work {
        grid-template-columns: 191px 191px 191px 191px;
        margin-bottom: 35px;

        &__overlay-text {
            padding: 2px 0;
            margin-bottom: 4.5px;
        }

        &__overlay-desc{
            text-align: center;
        }
    }

    img.work__img,
    .work__overlay {
        width: 100%;
        height: 100%;
    }

    .team {
        margin-bottom: 35px;

        &__content {
            max-width: 346px;
            margin-bottom: 56px;

            &:last-child {
                margin:0;
            }
        }


        &__developer {
            margin-bottom: 38.5px;
        }

        &__text {
            margin-bottom: 55px;
        }
        

        &__icons {
            column-gap: 6px;
        }

        &__icon {
            width: 39px;
            height: 39px;
        }
    }

    .designer {
        margin-bottom: 34.5px;

        &__wrapper-img {
            width: 100%;
        }

        &__content {
            padding: 10px 10px 10px 20px;
        }

        &__text {
            padding: 38px 0;
        }

        &__slides {
            column-gap: 20.5px;
        }
    }

    %designer__container {
        margin-bottom: 23px;
    }

    .download {
        margin-bottom: 45px;

        &__title {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 29px;
        }

        &__text {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }

        &__button {
            max-width: 279px;
        }
    }

    .location {
        padding: 34px 20px 33px;

        &__content {
            margin-bottom: 69px;
            text-align: center;

            &:last-child {
                margin: 0;
            }
        }

        &__title {
            margin-bottom: 34px;
        }

        &__icons {
            justify-self: center;
            column-gap: 17px;
        }
    
    }

    .footer {
        padding: 29px 0;
    }

}

@media (max-width: 426px) {
    .nav__link {
        display: none;
    }

    .nav__link[hidden] {
        display: block;
        min-width: 55px;
        height: 56px;
    }

    .banner {
        padding: 97px 0 52px;
        margin-bottom: 40px;

        &__title {
            font-size: 24px;
            line-height: 42px;
            margin-bottom: 32px;
        }

        &__text {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 49px;
        }

        &__button {
            max-width: 280px;
            padding: 16px 0;
        }

    }

    %features__container {
        grid-template-columns: repeat(1, minmax(279px, 1fr));
        grid-row-gap: 41px;
    }

    .features {
        margin-bottom: 35px;

        &__content-icon {
            width: 75px;
            height: 74px;
            margin: 0 auto 22px;
        }

        &__content-text {
            padding: 16px 0;
            margin: 0;
        }
    }

    .work {
        grid-template-columns: 212px 212px;
        grid-template-rows: 186px 186px;
        margin-bottom: 35px;

        &__overlay-text {
            padding: 2px 0;
            margin-bottom: 4.5px;
        }
    }

    img.work__img,
    .work__overlay {
        width: 100%;
        height: 100%;
    }

    .team {
        margin-bottom: 35px;

        &__content {
            max-width: 395px;
            margin-bottom: 56px;

            &:last-child {
                margin:0;
            }
        }

        &__developer {
            margin-bottom: 38.5px;
        }

        &__text {
            margin-bottom: 55px;
        }

        &__icons {
            column-gap: 6px;
        }

        &__icon {
            width: 39.5px;
            height: 39.5px;
        }
    }

    %team__container {
        display: block;
    }

    .designer {
        margin-bottom: 34.5px;

        &__wrapper-img {
            width: 100%;
        }

        &__content {
            padding: 10px 10px 10px 20px;
            width: 100%;
        }

        &__text {
            padding: 38px 0;
        }

        &__slides {
            column-gap: 20.5px;
        }
    }

    %designer__container {
        display: block;
        margin-bottom: 23px;
    }

    .download {
        margin-bottom: 45px;

        &__title {
            font-size: 18px;
            line-height: 21px;
        }

        &__text {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }

        &__button {
            max-width: 279px;
        }
    }

    .location {
        padding: 34px 20px 33px;

        &__content {
            margin-bottom: 69px;
            text-align: center;

            &:last-child {
                margin: 0;
            }
        }

        &__title {
            margin-bottom: 34px;
        }

        &__icons {
            justify-self: center;
            column-gap: 17px;
        }
    
    }

    %location__container {
        display: block;
    }

    .footer {
        padding: 29px 0;
    }

}

@media (max-width: 376px) {
    .nav__link {
        display: none;
    }

    .nav__link[hidden] {
        display: block;
        min-width: 55px;
        height: 56px;
    }

    .banner {
        padding: 97px 0 52px;
        margin-bottom: 40px;

        &__title {
            font-size: 24px;
            line-height: 42px;
            margin-bottom: 32px;
        }

        &__text {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 49px;
        }

        &__button {
            max-width: 280px;
            padding: 16px 0;
        }

    }

    %features__container {
        grid-template-columns: repeat(1, minmax(279px, 1fr));
        grid-row-gap: 41px;
    }

    .features {
        margin-bottom: 35px;

        &__content-icon {
            width: 75px;
            height: 74px;
            margin: 0 auto 22px;
        }

        &__content-text {
            padding: 16px 0;
            margin: 0;
        }
    }

    .work {
        grid-template-columns: 186px 186px;
        grid-template-rows: 144px 144px;
        margin-bottom: 35px;

        &__overlay-text {
            padding: 2px 0;
            margin-bottom: 4.5px;
        }
    }

    img.work__img,
    .work__overlay {
        width: 100%;
        height: 100%;
    }

    .team {
        margin-bottom: 35px;

        &__content {
            max-width: 346px;
            margin-bottom: 56px;

            &:last-child {
                margin:0;
            }
        }

        &__developer {
            margin-bottom: 38.5px;
        }

        &__text {
            margin-bottom: 55px;
        }

        &__icons {
            column-gap: 6px;
        }

        &__icon {
            width: 39.5px;
            height: 39.5px;
        }
    }

    %team__container {
        display: block;
    }

    .designer {
        margin-bottom: 34.5px;

        &__wrapper-img {
            width: 100%;
        }

        &__content {
            padding: 10px 10px 10px 20px;
            width: 100%;
        }

        &__text {
            padding: 38px 0;
        }

        &__slides {
            column-gap: 20.5px;
        }
    }

    %designer__container {
        display: block;
        margin-bottom: 23px;
    }

    .download {
        margin-bottom: 45px;

        &__title {
            font-size: 18px;
            line-height: 21px;
        }

        &__text {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }

        &__button {
            max-width: 279px;
        }
    }

    .location {
        padding: 34px 20px 33px;

        &__content {
            margin-bottom: 69px;
            text-align: center;

            &:last-child {
                margin: 0;
            }
        }

        &__title {
            margin-bottom: 34px;
        }

        &__icons {
            justify-self: center;
            column-gap: 17px;
        }
    
    }

    %location__container {
        display: block;
    }

    .footer {
        padding: 29px 0;
    }

}

@media (max-width: 320px) {

    .nav__link {
        display: none;
    }

    .nav__link[hidden] {
        display: block;
        min-width: 55px;
        height: 56px;
    }

    .banner {
        padding: 97px 0 52px;
        margin-bottom: 40px;

        &__title {
            font-size: 24px;
            line-height: 42px;
            margin-bottom: 32px;
        }

        &__text {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 49px;
        }

        &__button {
            max-width: 280px;
            padding: 16px 0;
        }

    }

    %features__container {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 41px;
    }

    .features {
        margin-bottom: 35px;

        &__content-icon {
            width: 75px;
            height: 74px;
            margin: 0 auto 22px;
        }

        &__content-text {
            padding: 16px 0;
            margin: 0;
        }
    }

    .work {
        grid-template-columns: 160px 160px;
        grid-template-rows: 144px 144px;
        margin-bottom: 35px;

        &__overlay-text {
            padding: 2px 0;
            margin-bottom: 4.5px;
        }
    }

    img.work__img,
    .work__overlay {
        width: 100%;
        height: 100%;
    }

    .team {
        margin-bottom: 35px;

        &__content {
            max-width: 280px;
            margin-bottom: 56px;

            &:last-child {
                margin:0;
            }
        }

        &__developer {
            margin-bottom: 38.5px;
        }

        &__text {
            margin-bottom: 55px;
        }

        &__icons {
            column-gap: 6px;
        }

        &__icon {
            width: 39.5px;
            height: 39.5px;
        }
    }

    %team__container {
        display: block;
    }

    .designer {
        margin-bottom: 34.5px;

        &__wrapper-img {
            width: 100%;
        }

        &__content {
            padding: 10px 10px 10px 20px;
            width: 100%;
        }

        &__text {
            padding: 38px 0;
        }

        &__slides {
            column-gap: 20.5px;
        }
    }

    %designer__container {
        display: block;
        margin-bottom: 23px;
    }

    .download {
        margin-bottom: 45px;

        &__title {
            font-size: 18px;
            line-height: 21px;
        }

        &__text {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }

        &__button {
            max-width: 279px;
        }
    }

    .location {
        padding: 34px 20px 33px;

        &__content {
            margin-bottom: 69px;
            text-align: center;

            &:last-child {
                margin: 0;
            }
        }

        &__title {
            margin-bottom: 34px;
        }

        &__icons {
            justify-self: center;
            column-gap: 17px;
        }
    
    }

    %location__container {
        display: block;
    }

    .footer {
        padding: 29px 0;
    }

}










