* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(186, 187, 197);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.header__logo {
  width: 183px;
  display: flex;
}
.header .nav {
  display: flex;
}
.header .nav__link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-decoration: none;
  min-width: 134px;
  text-transform: uppercase;
  padding: 36px 0 38.5px;
  border-bottom: 3px solid transparent;
}
.header .nav__link:hover {
  border-bottom: 3px solid rgb(186, 187, 197);
}
.header .nav__link:active {
  border-bottom: 3px solid rgb(231, 20, 20);
  color: rgb(231, 20, 20);
}

.banner .container {
  position: relative;
  text-align: center;
}

.banner {
  background: url(../media/1.jpg) center/cover no-repeat;
  position: relative;
  padding: 237px 0 120px;
  margin-bottom: 116px;
}
.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(37, 43, 73);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 80%;
}
.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  margin-bottom: 31px;
  text-transform: uppercase;
  max-width: 1170px;
}
.banner__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  margin: 0 auto 80px;
  max-width: 1030px;
}
.banner__button {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  max-width: 370px;
  width: 100%;
  padding: 26px 0;
  background-color: rgb(255, 67, 67);
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
.banner__button:hover {
  background-color: rgb(231, 20, 20);
}
.banner__button:active {
  box-shadow: 4px 4px 30px 0px rgb(255, 67, 67);
  background-color: rgb(255, 67, 67);
}

.features .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 31px;
  grid-row-gap: 88px;
}

.features {
  margin-bottom: 116px;
}
.features__content {
  text-align: center;
}
.features__content-icon {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 auto 29px;
  align-items: center;
  justify-content: center;
}
.features__content-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: rgb(45, 48, 51);
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features__content-desc {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(108, 114, 121);
  font-family: "Raleway", sans-serif;
}

.work {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 114px;
  gap: 2px;
}
.work__wrapper-img {
  position: relative;
  padding-top: 100%;
}
.work__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.work__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 10px;
}
.work__overlay-text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.work__overlay-desc {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
.work__overlay:hover {
  opacity: 1;
  background-color: rgba(255, 67, 67, 0.8);
}
.work__overlay:active {
  opacity: 1;
  background-color: rgba(185, 12, 12, 0.8);
}

.team .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.team {
  margin-bottom: 114px;
}
.team__content {
  max-width: 270px;
}
.team__wrapper-img {
  position: relative;
  padding-top: 100%;
  margin-bottom: 30px;
}
.team__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.team__name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(45, 48, 51);
  font-family: "Raleway", sans-serif;
  padding: 0 1px;
  margin-bottom: 5px;
}
.team__developer {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(255, 67, 67);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.team__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(108, 114, 121);
  font-family: "Raleway", sans-serif;
  margin-bottom: 38px;
}
.team__icons {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.team__icon {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(198, 203, 205);
}
.team__icon:hover path {
  fill: #EC7979;
}
.team__icon:active path {
  fill: #AB4949;
}

.designer .container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(92, 50, 73);
  padding: 0;
  margin-bottom: 31px;
}

.designer {
  margin: 0 auto 114px;
}
.designer__wrapper-img {
  width: 50%;
  overflow: hidden;
}
.designer__tab-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.designer__content {
  width: 50%;
  padding: 10px 10px 10px 129px;
}
.designer__text {
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "Cardo", serif;
  font-style: italic;
  text-transform: capitalize;
  margin-bottom: 19px;
}
.designer__desc {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

.download .container {
  text-align: center;
}

.download {
  margin-bottom: 114px;
}
.download__title {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  margin-bottom: 22px;
}
.download__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  margin-bottom: 47px;
}
.download__button {
  max-width: 370px;
  width: 100%;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  padding: 26px 0;
  background-color: rgb(255, 67, 67);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.download__button:hover {
  background-color: rgb(231, 20, 20);
}
.download__button:active {
  box-shadow: 4px 4px 30px 0px rgb(255, 67, 67);
  background-color: rgb(255, 67, 67);
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 71px 0;
}

.footer {
  background-color: rgb(53, 60, 101);
}
.footer__title {
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 49px;
}
.footer__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.footer__icons {
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
  justify-content: center;
}
.footer__icon {
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(198, 203, 205);
}
.footer__copyright {
  background-color: rgb(44, 49, 84);
  padding: 24px 0;
}
.footer__copyright_text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(108, 114, 121);
  font-family: "Raleway", sans-serif;
  text-align: center;
}
.footer__copyright_desc {
  color: rgb(255, 255, 255);
}

@media (max-width: 769px) {
  .header {
    padding: 0;
  }
  .header .nav__link {
    min-width: 110px;
  }
  .banner {
    padding: 98px 0 52px;
    margin-bottom: 40px;
  }
  .banner__title {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
  .banner__button {
    max-width: 280px;
    padding: 16px 0;
  }
  .features .container {
    grid-template-columns: repeat(2, minmax(279px, 1fr));
    grid-row-gap: 41px;
  }
  .features {
    margin-bottom: 35px;
  }
  .features__content-icon {
    width: 75px;
    height: 74px;
    margin: 0 auto 22px;
  }
  .features__content-text {
    padding: 16px 0;
    margin: 0;
  }
  .work {
    grid-template-columns: 191px 191px 191px 191px;
    margin-bottom: 35px;
  }
  .work__overlay-text {
    padding: 2px 0;
    margin-bottom: 4.5px;
  }
  .work__overlay-desc {
    text-align: center;
  }
  img.work__img,
  .work__overlay {
    width: 100%;
    height: 100%;
  }
  .team {
    margin-bottom: 35px;
  }
  .team__content {
    max-width: 346px;
    margin-bottom: 56px;
  }
  .team__content:last-child {
    margin: 0;
  }
  .team__developer {
    margin-bottom: 38.5px;
  }
  .team__text {
    margin-bottom: 55px;
  }
  .team__icons {
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
  .team__icon {
    width: 39px;
    height: 39px;
  }
  .designer {
    margin-bottom: 34.5px;
  }
  .designer__wrapper-img {
    width: 100%;
  }
  .designer__content {
    padding: 10px 10px 10px 20px;
  }
  .designer__text {
    padding: 38px 0;
  }
  .designer__slides {
    -moz-column-gap: 20.5px;
         column-gap: 20.5px;
  }
  .designer .container {
    margin-bottom: 23px;
  }
  .download {
    margin-bottom: 45px;
  }
  .download__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 29px;
  }
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
  }
  .download__button {
    max-width: 279px;
  }
  .location {
    padding: 34px 20px 33px;
  }
  .location__content {
    margin-bottom: 69px;
    text-align: center;
  }
  .location__content:last-child {
    margin: 0;
  }
  .location__title {
    margin-bottom: 34px;
  }
  .location__icons {
    justify-self: center;
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
  .footer {
    padding: 29px 0;
  }
}
@media (max-width: 426px) {
  .nav__link {
    display: none;
  }
  .nav__link[hidden] {
    display: block;
    min-width: 55px;
    height: 56px;
  }
  .banner {
    padding: 97px 0 52px;
    margin-bottom: 40px;
  }
  .banner__title {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
  .banner__button {
    max-width: 280px;
    padding: 16px 0;
  }
  .features .container {
    grid-template-columns: repeat(1, minmax(279px, 1fr));
    grid-row-gap: 41px;
  }
  .features {
    margin-bottom: 35px;
  }
  .features__content-icon {
    width: 75px;
    height: 74px;
    margin: 0 auto 22px;
  }
  .features__content-text {
    padding: 16px 0;
    margin: 0;
  }
  .work {
    grid-template-columns: 212px 212px;
    grid-template-rows: 186px 186px;
    margin-bottom: 35px;
  }
  .work__overlay-text {
    padding: 2px 0;
    margin-bottom: 4.5px;
  }
  img.work__img,
  .work__overlay {
    width: 100%;
    height: 100%;
  }
  .team {
    margin-bottom: 35px;
  }
  .team__content {
    max-width: 395px;
    margin-bottom: 56px;
  }
  .team__content:last-child {
    margin: 0;
  }
  .team__developer {
    margin-bottom: 38.5px;
  }
  .team__text {
    margin-bottom: 55px;
  }
  .team__icons {
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
  .team__icon {
    width: 39.5px;
    height: 39.5px;
  }
  .team .container {
    display: block;
  }
  .designer {
    margin-bottom: 34.5px;
  }
  .designer__wrapper-img {
    width: 100%;
  }
  .designer__content {
    padding: 10px 10px 10px 20px;
    width: 100%;
  }
  .designer__text {
    padding: 38px 0;
  }
  .designer__slides {
    -moz-column-gap: 20.5px;
         column-gap: 20.5px;
  }
  .designer .container {
    display: block;
    margin-bottom: 23px;
  }
  .download {
    margin-bottom: 45px;
  }
  .download__title {
    font-size: 18px;
    line-height: 21px;
  }
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
  }
  .download__button {
    max-width: 279px;
  }
  .location {
    padding: 34px 20px 33px;
  }
  .location__content {
    margin-bottom: 69px;
    text-align: center;
  }
  .location__content:last-child {
    margin: 0;
  }
  .location__title {
    margin-bottom: 34px;
  }
  .location__icons {
    justify-self: center;
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
  .footer {
    padding: 29px 0;
  }
}
@media (max-width: 376px) {
  .nav__link {
    display: none;
  }
  .nav__link[hidden] {
    display: block;
    min-width: 55px;
    height: 56px;
  }
  .banner {
    padding: 97px 0 52px;
    margin-bottom: 40px;
  }
  .banner__title {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
  .banner__button {
    max-width: 280px;
    padding: 16px 0;
  }
  .features .container {
    grid-template-columns: repeat(1, minmax(279px, 1fr));
    grid-row-gap: 41px;
  }
  .features {
    margin-bottom: 35px;
  }
  .features__content-icon {
    width: 75px;
    height: 74px;
    margin: 0 auto 22px;
  }
  .features__content-text {
    padding: 16px 0;
    margin: 0;
  }
  .work {
    grid-template-columns: 186px 186px;
    grid-template-rows: 144px 144px;
    margin-bottom: 35px;
  }
  .work__overlay-text {
    padding: 2px 0;
    margin-bottom: 4.5px;
  }
  img.work__img,
  .work__overlay {
    width: 100%;
    height: 100%;
  }
  .team {
    margin-bottom: 35px;
  }
  .team__content {
    max-width: 346px;
    margin-bottom: 56px;
  }
  .team__content:last-child {
    margin: 0;
  }
  .team__developer {
    margin-bottom: 38.5px;
  }
  .team__text {
    margin-bottom: 55px;
  }
  .team__icons {
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
  .team__icon {
    width: 39.5px;
    height: 39.5px;
  }
  .team .container {
    display: block;
  }
  .designer {
    margin-bottom: 34.5px;
  }
  .designer__wrapper-img {
    width: 100%;
  }
  .designer__content {
    padding: 10px 10px 10px 20px;
    width: 100%;
  }
  .designer__text {
    padding: 38px 0;
  }
  .designer__slides {
    -moz-column-gap: 20.5px;
         column-gap: 20.5px;
  }
  .designer .container {
    display: block;
    margin-bottom: 23px;
  }
  .download {
    margin-bottom: 45px;
  }
  .download__title {
    font-size: 18px;
    line-height: 21px;
  }
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
  }
  .download__button {
    max-width: 279px;
  }
  .location {
    padding: 34px 20px 33px;
  }
  .location__content {
    margin-bottom: 69px;
    text-align: center;
  }
  .location__content:last-child {
    margin: 0;
  }
  .location__title {
    margin-bottom: 34px;
  }
  .location__icons {
    justify-self: center;
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
  .footer {
    padding: 29px 0;
  }
}
@media (max-width: 320px) {
  .nav__link {
    display: none;
  }
  .nav__link[hidden] {
    display: block;
    min-width: 55px;
    height: 56px;
  }
  .banner {
    padding: 97px 0 52px;
    margin-bottom: 40px;
  }
  .banner__title {
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 32px;
  }
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49px;
  }
  .banner__button {
    max-width: 280px;
    padding: 16px 0;
  }
  .features .container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 41px;
  }
  .features {
    margin-bottom: 35px;
  }
  .features__content-icon {
    width: 75px;
    height: 74px;
    margin: 0 auto 22px;
  }
  .features__content-text {
    padding: 16px 0;
    margin: 0;
  }
  .work {
    grid-template-columns: 160px 160px;
    grid-template-rows: 144px 144px;
    margin-bottom: 35px;
  }
  .work__overlay-text {
    padding: 2px 0;
    margin-bottom: 4.5px;
  }
  img.work__img,
  .work__overlay {
    width: 100%;
    height: 100%;
  }
  .team {
    margin-bottom: 35px;
  }
  .team__content {
    max-width: 280px;
    margin-bottom: 56px;
  }
  .team__content:last-child {
    margin: 0;
  }
  .team__developer {
    margin-bottom: 38.5px;
  }
  .team__text {
    margin-bottom: 55px;
  }
  .team__icons {
    -moz-column-gap: 6px;
         column-gap: 6px;
  }
  .team__icon {
    width: 39.5px;
    height: 39.5px;
  }
  .team .container {
    display: block;
  }
  .designer {
    margin-bottom: 34.5px;
  }
  .designer__wrapper-img {
    width: 100%;
  }
  .designer__content {
    padding: 10px 10px 10px 20px;
    width: 100%;
  }
  .designer__text {
    padding: 38px 0;
  }
  .designer__slides {
    -moz-column-gap: 20.5px;
         column-gap: 20.5px;
  }
  .designer .container {
    display: block;
    margin-bottom: 23px;
  }
  .download {
    margin-bottom: 45px;
  }
  .download__title {
    font-size: 18px;
    line-height: 21px;
  }
  .download__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
  }
  .download__button {
    max-width: 279px;
  }
  .location {
    padding: 34px 20px 33px;
  }
  .location__content {
    margin-bottom: 69px;
    text-align: center;
  }
  .location__content:last-child {
    margin: 0;
  }
  .location__title {
    margin-bottom: 34px;
  }
  .location__icons {
    justify-self: center;
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
  .footer {
    padding: 29px 0;
  }
}/*# sourceMappingURL=style.css.map */