$font-title:"Raleway", sans-serif;
$font-text: "Cardo", serif;
$font-color: rgba(255, 255, 255, 1);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}



%header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(186, 187, 197, 1);

    @media (max-width: 767px) {
        border: none;
    }
}

@mixin font($font-size, $line-height, $font-weight, $color, $font-family)
{
    font-size:$font-size;
    line-height:$line-height;
    font-weight:$font-weight;
    color:$color;
    font-family:$font-family;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;

    @media (max-width: 767px) {
        padding: 10px 0;
    }

        .container {
            @extend %header__container;
        }

        &__logo svg {
            @media (max-width: 1024px) {
            width: 100%;
            }

            @media (max-width: 321px) {
                max-width: 60%;
            }
        }

    &__logo {
        width: 183px;
        display: flex;

        @media (max-width: 1024px) {
            max-width: 103px;
            display: flex;
        }
    }

    .nav {
        display: flex;

        a.nav__link.nav__link-menu {
            padding: 0;
            min-width: max-content;
            border: none;
            display: none;

            @media (max-width: 767px) {
                display: block;
            }
        }

        &__link {
            @include font(13px, 15px, 700, $font-color, $font-title);
            text-align: center;
            text-decoration: none;
            min-width: 134px;
            text-transform: uppercase;
            padding: 43px 0 38.5px;
            border-bottom: 3px solid transparent;
            transition: all 0.3s ease 0.3s;

            &:hover {
                border-bottom: 3px solid rgba(186, 187, 197, 1);
            }

            &:active {
                border-bottom: 3px solid rgba(231, 20, 20, 1);
                color: rgba(231, 20, 20, 1);
            }

            @media (max-width: 1024px) {
                min-width: 112px;
                padding: 44px 4px 38.5px;
            }

            @media (max-width: 767px) {
                display: none;
            }

            @media (max-width: 321px) {
                display: none;
            }
        }
    }
}

%banner__container {
    position: relative;
    text-align: center;
}

.banner {
    background: url(../media/1.jpg) center / cover no-repeat;
    position: relative;
    padding: 230px 0 120px;
    margin-bottom: 116px;

    @media (max-width: 1024px) {
        padding: 246px 0 85px;
    }

    @media (max-width: 767px) {
        padding: 98px 0 52px;
        margin-bottom: 40px;
    }

    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(37, 43, 73, 1);
        position: absolute;
        left: 0;
        top: 0;
        opacity: 80%;
    }

    .container {
        @extend %banner__container;
    }

    &__title {
        @include font(64px, 75px, 900, $font-color, $font-title);
        margin-bottom: 31px;
        text-transform: uppercase;
        max-width: 1170px;

        @media (max-width: 1024px) {
            font-size: 48px;
            line-height: 67px;
            margin-bottom: 47px;
        }        

        @media (max-width: 767px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 32px;
        }

        @media (max-width: 321px) {
            font-size: 36px;
            line-height: 42px;
            margin-bottom: 32px;
        }
    }

    &__text {
        @include font(24px, 28px, 400, $font-color, $font-title);
        margin: 0 auto 80px;
        max-width: 1030px;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 48px;
        }

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 16px;      
        }
    }

    &__button {
        @include font(24px, 28px, 900, $font-color, $font-title);
            max-width: 370px;
            width: 100%;
            padding: 26px 0;
            background-color: rgba(255, 67, 67, 1);
            cursor: pointer;
            border: none;
            text-transform: uppercase;
            transition: all 0.3s ease 0.3s;

            @media (max-width: 1024px) {
                max-width: 315px;
            }

            @media (max-width: 767px) {
                max-width: 100%;
                padding: 16px 0;
            }

            @media (max-width: 321px) {
                max-width: 100%;
                padding: 16px 0;
            }

            &:hover {
                background-color: rgba(231, 20, 20, 1);
            }

            &:active {
                box-shadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
                background-color: rgba(255, 67, 67, 1);
            }
        }
}

%features__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 31px;
    grid-row-gap: 88px;

    @media (max-width: 1024px) {
        grid-column-gap: 20px;
        grid-row-gap: 50px;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-row-gap: 41px;
    }
}

.features {
    margin-bottom: 135px;

    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }

    @media (max-width: 767px) {
        margin-bottom: 35px;
    }

    @media (max-width: 321px) {
        margin-bottom: 88px;
    }

    .container {
        @extend %features__container;
    }

    &__content {
        text-align: center;

        &-icon {
            width: 100px;
            height: 100px;
            display: flex;
            margin: 0 auto 47px;
            align-items: center;
            justify-content: center;

            @media (max-width: 1024px) {
                width: 85px;
                height: 85px;
            }

            @media (max-width: 767px) {
                width: 75px;
                height: 74px;
                margin: 0 auto 22px;
            }

            @media (max-width: 321px) {
                width: 75px;
                height: 75px;
                margin: 0 auto 22px;
            }
        }

        &-text {
            @include font (24px, 28px, 900, rgba(45, 48, 51, 1), $font-title);
            margin-bottom: 47px;
            text-transform: uppercase;

            @media (max-width: 1024px) {
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 21px;
            }

            @media (max-width: 767px) {
                margin-bottom: 16px;
            }

            @media (max-width: 321px) {
                padding: 16px 0;
                margin: 0;
            }
        }

        &-desc {
            @include font(18px, 21px, 400, rgba(108, 114, 121, 1), $font-title);
   
            @media (max-width: 1024px) {
                font-size: 14px;
                line-height: 16px;
        }
    }
    
}
}

.work {
    display: grid;
	grid-template-columns: repeat(4, 1fr);
    margin-bottom: 127px;
    gap: 2px;

    @media (max-width: 1024px) {
        margin-bottom: 88px;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 35px;
    }

    @media (max-width: 321px) {
        grid-template-columns: 160px 160px;
        grid-template-rows: 144px 144px;
        margin-bottom: 35px;
    }

    &__wrapper-img {
        position: relative;
		padding-top: 88%;
        overflow: hidden;
    }

    &__img{
		object-fit: cover;		
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

        @media (max-width: 1024px) {
            height: 104%;
        }
	}

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        opacity: 0; 
        padding: 10px;
        transition: all 0.3s ease 0.3s;

        @media (max-width: 767px) {
            display: none;
        }

        &-text {
            @include font(24px, 28px, 900, $font-color, $font-title);
            margin-bottom: 20px;
            text-transform: uppercase;

            @media (max-width: 767px) {
                padding: 2px 0;
                margin-bottom: 4.5px;
            }

            @media (max-width: 321px) {
                padding: 2px 0;
                margin-bottom: 4.5px;
            }
            
        }
    
        &-desc {
            @include font(18px, 21px, 400, $font-color, $font-title);
            text-transform: capitalize;

            @media (max-width: 767px) {
                text-align: center;
            }
        }

        &:hover {
            opacity: 1; 
            background-color: rgba(255, 67, 67, 0.8);
        }
        
        &:active {
            opacity: 1;
            background-color: rgba(185, 12, 12, 0.8);
        }
    }
    
}

%team__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;

    @media (max-width: 1024px) {
        column-gap: 25px;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    @media (max-width: 321px) {
        display: block;
    }
}

.team {
    margin-bottom: 114px;

    @media (max-width: 1024px) {
        margin-bottom: 78px;
    }

    @media (max-width: 767px) {
        margin-bottom: 35px;
    }

    @media (max-width: 321px) {
        margin-bottom: 35px;
    }

    .container {
        @extend %team__container;
    }

    &__content {
        @media (max-width: 767px) {
            &:last-child {
                margin:0;
            }
        }

        @media (max-width: 321px) {
            max-width: 280px;
            margin-bottom: 56px;

            &:last-child {
                margin:0;
            }
        }
    }

    &__wrapper-img {
        position: relative;
		padding-top: 100%;
        margin-bottom: 30px;

        @media (max-width: 1024px) {
            margin-bottom: 25px;
        }

        @media (max-width: 321px) {
            padding-top: 79%;
            margin-bottom: 28px;
        }
    }

    &__img {
        object-fit: cover;		
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

        @media (max-width: 1024px) {
            height: 100%;
        }

        @media (max-width: 321px) {
            height: 100%;
            width: 100%;
        }
    }

    &__name {
        @include font(24px, 28px, 700, rgba(45, 48, 51, 1), $font-title);
        padding: 0 1px;
        margin-bottom: 5px;

        @media (max-width: 1024px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__developer {
        @include font(18px, 21px, 400, rgba(255, 67, 67, 1), $font-title);
        text-transform: uppercase;
        margin-bottom: 18px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 22px;
        }

        @media (max-width: 767px) {
            margin-bottom: 38.5px;
        }

        @media (max-width: 321px) {
            margin-bottom: 38.5px;
        }
    }

    &__text {
        @include font(18px, 21px, 400, rgba(108, 114, 121, 1), $font-title);
        margin-bottom: 38px;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }

        @media (max-width: 767px) {
            margin-bottom: 55px;
        }

        @media (max-width: 321px) {
            margin-bottom: 55px;
        }
    }

    &__icons {
        display: flex;
        column-gap: 6px;
        transition: all 0.3s ease 0.3s;

        @media (max-width: 1024px) {
            column-gap: 4px;
        }

        @media (max-width: 767px) {
            column-gap: 6px;
        }

        @media (max-width: 321px) {
            column-gap: 6px;
        }

    }

    &__icon {
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(198, 203, 205, 1);
        transition: all 0.3s ease 0.3s;

        @media (max-width: 1024px) {
            width: 34px;
            height: 34px;
        }

        @media (max-width: 767px) {
            width: 39px;
            height: 39px;
        }

        @media (max-width: 321px) {
            width: 39.5px;
            height: 39.5px;
        }


        &:hover path{
            fill: #EC7979;
            background-color: #EC7979;
        }
        
        &:active path{
            fill: #AB4949;
            background-color: #AB4949;
        }
    }
}



.designer {
    margin: 0 auto 174px;

    @media (max-width: 1024px) {
        margin: 0 auto 125px;
    }

    @media (max-width: 767px) {
        margin-bottom: 34.5px;
    }

    @media (max-width: 321px) {
        margin-bottom: 34.5px;
    }

    &__container {
        display: flex;
        background-color: rgba(92, 50, 73, 1);
        flex-wrap: nowrap;
        flex-direction: column;
    }

    &__wrapper-img {
        width: 49%;
        overflow: hidden;

        @media (max-width: 767px) {
            width: 100%;
        }

        @media (max-width: 321px) {
            width: 100%;
        }
    }

    &__tab-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        width: 51%;
        padding: 31px 10px 10px 129px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 1024px) {
            padding: 31px 10px 58px 87px;
        }

        @media (max-width: 767px) {
            padding: 10px 10px 70px 20px;
            width: 100%;
        }

        @media (max-width: 321px) {
            padding: 10px 10px 10px 20px;
            width: 100%;
        }
    }

    &__text {
        @include font(36px, 48px, 400, $font-color, $font-text);
        font-style: italic;
        text-transform: capitalize;
        margin-bottom: 37px;
        max-width: 471px;

        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 32px;
            max-width: 330px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            text-align: center;
        }

        @media (max-width: 321px) {
            padding: 18px 0;
        }
    }

    &__desc {
        @include font(13px, 15px, 700, $font-color, $font-title);
        text-transform: uppercase;
        max-width: 470px;

        @media (max-width: 1024px) {
            font-size: 12px;
            line-height: 14px;
            max-width: 330px;
        }

        @media (max-width: 767px) {
            max-width: 100%;
            text-align: center;
        }

        &__slides {
            @media (max-width: 767px) {
                column-gap: 20.5px;
            }

            @media (max-width: 321px) {
                column-gap: 20.5px;
            }
        }
    }

    .swiper {
        padding-bottom: 45px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }

    .swiper-pagination {
        display: flex;
        column-gap: 25px;
        justify-content: center;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }

    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        border: 1px solid rgba(126, 93, 111, 1);
        background-color: transparent;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: rgba(126, 93, 111, 1);
    }
}

%designer__container {
    @media (max-width: 767px) {
        margin-bottom: 23px;
    }

    @media (max-width: 321px) {
        display: block;
        margin-bottom: 23px;
    }
}

%download__container {
    text-align: center;
}

.download {
    margin-bottom: 114px;

    @media (max-width: 1024px) {
        margin-bottom: 81px;
    }

    @media (max-width: 767px) {
        margin-bottom: 45px;
    }

    @media (max-width: 321px) {
        margin-bottom: 45px;
    }

    .container {
        @extend %download__container;
    }

    &__title {
        @include font(30px, 35px, 500, rgba(0, 0, 0, 1), $font-title);
        margin-bottom: 23px;

        @media (max-width: 1024px) {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 22px;
        }

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 29px;
        }

        @media (max-width: 321px) {
            font-size: 18px;
            line-height: 21px;
        }
    }

    &__text {
        @include font(21px, 21px, 700, rgba(0, 0, 0, 1), $font-title);
        margin-bottom: 48px;

        @media (max-width: 1024px) {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 48px;
        }

        @media (max-width: 767px) {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }

        @media (max-width: 321px) {
            font-size: 13px;
            line-height: 15px;
            margin-bottom: 11px;
        }
    }

    &__button {
        max-width: 370px;
        width: 100%;
        @include font(24px, 28px, 900, $font-color, $font-title);
        padding: 26px 0;
        background-color: rgba(255, 67, 67, 1);
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease 0.3s;

        @media (max-width: 1024px) {
            max-width: 314px;
            font-size: 18px;
            line-height: 19px;
            padding: 27px 0;
        }

        @media (max-width: 767px) {
            max-width: 100%;
        }

        @media (max-width: 321px) {
            max-width: 279px;
        }

        &:hover {
            background-color: rgba(231, 20, 20, 1);
        }

        &:active {
            box-shadow: 4px 4px 30px 0px rgba(255, 67, 67, 1);
            background-color: rgba(255, 67, 67, 1);
        }
    }

}

%footer__container {
    margin: 0 auto 71px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media (max-width: 1024px) {
        grid-gap: 20px;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        row-gap: 40px;
        margin-bottom: 40px;
    }

    @media (max-width: 321px) {
        grid-gap: 10px;
        padding: 41px 3px;
    }
}

.footer {
    background-color: rgba(53, 60, 101, 1);
    padding-top: 71px;

    @media (max-width: 767px) {
        padding: 29px 0 0;
    }

    @media (max-width: 321px) {
        padding: 29px 0;
    }

    .container {
        @extend %footer__container;
    }

    &__title {
        text-align: center;
        @include font(18px, 21px, 700, $font-color, $font-title);
        text-transform: uppercase;
        margin-bottom: 29px;
        
        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 18px;
        }

    }

    &__text {
        @include font(18px, 21px, 400, $font-color, $font-title);
        text-align: center;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__icons {
        display: flex;
        column-gap: 27px;
        justify-content: center;
        margin-top: 49px;
        transition: all 0.3s ease 0.3s;

        @media (max-width: 1024px) {
            column-gap: 23px;
            margin-top: 32px;
        }

}

    &__icon {
        width: 39px;
        height: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(198, 203, 205, 1);
        transition: all 0.3s ease 0.3s;

        @media (max-width: 1024px) {
            width: 33px;
            height: 33px;
        }

        &:hover path{
            fill: #EC7979;
            background-color: #EC7979;
        }
        
        &:active path{
            fill: #AB4949;
            background-color: #AB4949;
        }
    }


    &__copyright {
        background-color: rgba(44, 49, 84, 1);
        padding: 24px 0;

        @media (max-width: 1024px) {
            padding: 14px 0;
        }

    }

    &__copyright_text {
        @include font(18px, 18px, 400, rgba(108, 114, 121, 1), $font-title);
        text-align: center;
        text-transform: capitalize;

        @media (max-width: 1024px) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__copyright_desc {
        color: rgba(255, 255, 255, 1);
    }

    .copyright__container {
        max-width: 390px;
        margin: 0 auto;
        padding: 0 15px;

        @media (max-width: 767px) {
                max-width: 100%;
            }
        
        }
    }









